{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<head>
 <style>
  body {
    background-color:#fbb265;
    color: white;
  }
  .card-small {
    width:620px;
  }

  .card-large {
    width:940px;
  }
  </style>
<head>
<body>
  <nav>
    <div class="nav-wrapper orange darken-1">
      <a href="#" class="brand-logo center"><strong>The PetPicker2000</strong></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
    </div>
  </nav>
  <div class="row center-align">
    <div class="col s4 m4">
      <div class="card">
        <div class="card-content black-text center-align">
          <p><h8><strong>The best pet for you is (a):</strong></h8></p>
          <p><h5>{{ Data.0 }}</h5></p>
          <img src="data:image/png;base64, {{chart1|safe}}">
        </div>
        <div class="card-action">
          <a href="{{ Data.3 }}">More Info</a>
        </div>
      </div>
    </div>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-content black-text center-align">
          <p><h8><strong>The second best pet for you is (a):</strong></h8></p>
          <p><h5>{{ Data.1 }}</h5></p>
          <img src="data:image/png;base64, {{chart2|safe}}">
        </div>
        <div class="card-action">
          <a href="{{ Data.4 }}">More Info</a>
        </div>
      </div>
    </div>
    <div class="col s4 l4">
      <div class="card">
        <div class="card-content black-text center-align">
          <p><h8><strong>The third best pet for you is (a):</strong></h8></p>
          <p><h5>{{ Data.2 }}</h5></p>
          <img src="data:image/png;base64, {{chart3|safe}}">
        </div>
        <div class="card-action">
          <a href="{{ Data.5 }}">More Info</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row center-align">
      <div class="col s6 m6">
        <div class="card ">
          <div class="card-content black-text center-align white">
            <h8><strong>Pet Score Graph (lower is better):</strong></h8>
            <br>
            <img src="data:image/png;base64, {{Full_Chart|safe}}">
          </div>
            <div class="card-action">
            <a href="{% url 'petpicker:Form_view'%}">Go Back</a>
          </div>
        </div>
      </div>
      <div class="col s6 m6">
        <div class="card ">
          <div class="card-content black-text center-align white">
            <h8><strong>Pet Score Heat Map (lower is better):</strong></h8>
            <br>
            <img src="data:image/png;base64, {{Full_Heat|safe}}">
          </div>
            <div class="card-action">
            <a href="{% url 'petpicker:Form_view'%}">Go Back</a>
          </div>
        </div>
      </div>
    </div>
</body>
