{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<head>
 <style>
  body {
    background-color:#fbb265;
    color: white;
  }
  </style>
<head>
<body>
  <nav>
    <div class="nav-wrapper orange darken-1">
      <a href="#" class="brand-logo center"><strong>The PetPicker2000</strong></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="{% url 'petpicker:About_Page'%}">How it Works</a></li>
        </ul>
      </div>
    </nav>
  <div class="row">
    <div class="col s12 m12">
      <div class="card white">
        <div class="card-content white-text">
          <span class="card-title"><div class="black-text"><strong>Please Fill Out The Following Form:</strong></div></span>
          <form method="POST">
            {% csrf_token %}
            <br>
            <p>
              <label for="Init_Price"><div class="black-text"><strong>1) What is the ideal inital cost for your pet? (US Dollar)</strong></div></label>
              <input id="Init_Price" name="Init_Price" type='range' min="0" max="1500" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question1"></span></div></p>
            <script>
              var slider1 = document.getElementById("Init_Price");
              var output1 = document.getElementById("Question1");
              output1.innerHTML = slider1.value;
              slider1.oninput = function() {
                output1.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Main_Time"><div class="black-text"><strong>2) How much time per day do you want to spend maintaning the pet? (minutes)</strong></div></label>
              <input id="Main_Time" name="Main_Time" type='range' min="0" max="120" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question2"></span></div></p>
            <script>
              var slider2 = document.getElementById("Main_Time");
              var output2 = document.getElementById("Question2");
              output2.innerHTML = slider2.value;
              slider2.oninput = function() {
                output2.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Life_Span"><div class="black-text"><strong>3) What is the ideal lifespan for your pet? (years)</strong></div></label>
              <input id="Life_Span" name="Life_Span" type='range' min="0" max="75" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question3"></span></div></p>
            <script>
              var slider3 = document.getElementById("Life_Span");
              var output3 = document.getElementById("Question3");
              output3.innerHTML = slider3.value;
              slider3.oninput = function() {
                output3.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Trainable"><div class="black-text"><strong>4) How trainable would you want your pet to be? (0 = not trainable, 1 = hard, 2 = medium, 3 = easy)</strong></div></label>
              <input id="Trainable" name="Trainable" type='range' min="0" max="3" step="0.5" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question4"></span></div></p>
            <script>
              var slider4 = document.getElementById("Trainable");
              var output4 = document.getElementById("Question4");
              output4.innerHTML = slider4.value;
              slider4.oninput = function() {
                output4.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Main_Cost"><div class="black-text"><strong>5) What is the ideal monthly cost for your pet? (US Dollar)</strong></div></label>
              <input id="Main_Cost" name="Main_Cost" type='range' min="0" max="75" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question5"></span></div></p>
            <script>
              var slider5 = document.getElementById("Main_Cost");
              var output5 = document.getElementById("Question5");
              output5.innerHTML = slider5.value;
              slider5.oninput = function() {
                output5.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Weight"><div class="black-text"><strong>6) What is the ideal weight of your pet? (Pounds)</strong></div></label>
              <input id="Weight" name="Weight" type='range' max="50" step="0.1" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question6"></span></div></p>
            <script>
              var slider6 = document.getElementById("Weight");
              var output6 = document.getElementById("Question6");
              output6.innerHTML = slider6.value;
              slider6.oninput = function() {
                output6.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Lenght"><div class="black-text"><strong>7) What is the ideal length for your pet? (inches)</strong></div></label>
              <input id="Lenght" name="Lenght" type='range' min="0" max="60" step="0.1" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question7"></span></div></p>
            <script>
              var slider7 = document.getElementById("Lenght");
              var output7 = document.getElementById("Question7");
              output7.innerHTML = slider7.value;
              slider7.oninput = function() {
                output7.innerHTML = this.value;
              }
            </script>
            <br>
            <p>
              <label for="Max_Space"><div class="black-text"><strong>8) What is the maximum space will your pet have access to? (square feet)</strong></div></label>
              <input id="Max_Space" name="Max_Space" type='range' min="0" max="2000" value="0" />
            </p>
            <p><div class="black-text">Value: <span id="Question8"></span></div></p>
            <script>
              var slider8 = document.getElementById("Max_Space");
              var output8 = document.getElementById("Question8");
              output8.innerHTML = slider8.value;
              slider8.oninput = function() {
                output8.innerHTML = this.value;
              }
            </script>
            <br>
            <button type="submit" name="_submit" class="btn waves-effect waves-light orange darken-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
