{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

{% load material_form %}

<head>
 <style>
  body {
    background-color:#fbb265;
    color: white;
  }
  </style>
<head>
<body>
  <nav>
    <div class="nav-wrapper orange darken-1">
      <a href="#" class="brand-logo center"><strong>The PetPicker2000</strong></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
        </ul>
      </div>
    </nav>
    <div class="center-align">
      <div class="row">
        <div class="col s12 m12 center-align">
          <div class="card white">
            <div class="card-content black-text">
              <span class="card-title"><strong>How it Works</strong></span>
              <p>
                The first step is to ask the user for data and I did that by making sliders which people
              </p>
              <p>
                can move to select there number for each question. We also need data for each animal. After we
              </p>
              <p>
                have the user data and the animal data we need to scale the data. We do this by finding the
              </p>
              <p>
                maximum value for each question. Then we divide each number in that question by the max
              </p>
              <p>
                number. Once everything is scaled we plot each animal point using each question value as a
              </p>
              <p>
                coordinate. So there are 1 dimension for each question. After that weplot the users data.
              </p>
              <p>
                Then we find the euclidean distance () to find the distance between each point and the users
              </p>
              <p>
                point. Then we look for the smallest distance and that is the best fitting animal.
              </p>
            </div>
            <div class="card-action">
              <a href="{% url 'petpicker:Form_view'%}">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
